@page "/tela-principal"
@using Frontend.Model.Request;
<h3>Calculo de Frete TransLog </h3>
<EditForm Model="_produto" OnValidSubmit="CalcularFrete">
    @* <DataAnnotationsValidator /> *@
    <div class="row">
        <div class="col-4">
            <label>Distância(KM) </label>
            <InputNumber @bind-Value="_produto.Distancia"></InputNumber>
        </div>
        <div class="col-4">
            <label>Peso(Kg)</label>
            <InputNumber @bind-Value="_produto.Peso"></InputNumber>
            <ValidationMessage For="()=> _produto.Peso" />

        </div>
        <div class="col-4">
            <label>Largura(m)</label>
            <InputNumber @bind-Value="_produto.Largura"></InputNumber>
            <ValidationMessage For="()=> _produto.Largura" />

        </div>
        <div class="col-4">
            <label>Altura(m)</label>
            <InputNumber @bind-Value="_produto.Altura"></InputNumber>
            <ValidationMessage For="()=> _produto.Altura" />

        </div>
        <div class="col-4">
            <label>Comprimento(m)</label>
            <InputNumber @bind-Value="_produto.Comprimento"></InputNumber>
            <ValidationMessage For="()=> _produto.Comprimento" />

        </div>
    </div>
    <div class="col-2">
        <label></label>
        <button type="submit" class="btn btn-outline-primary mt-2">
            Calcular Frete
        </button>
    </div>

</EditForm>

@code {
    public Produto _produto { get; set; } = new();

    private async Task CalcularFrete()
    {
        
    }
}
